.left{
    width: 500px;
    border-radius: 20px;
    background-color: rgb(207, 194, 194);
}
.card_outer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card_outer:hover {
    transform: translateY(-10px); 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.right{
    width: 500px;
    height: 180px;
    background-color: #70b75e;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.right h2{
    color:rgb(28, 29, 20);
    font-family: 'Poppins','sans-serif';
    font-size: 30px;
}
.right p{
    color: rgba(247, 246, 246, 0.993);
    font-size: 18px;
    font-weight: 600;
}
.right button{
    margin-top: 10px;
    background-color: white;
    font-size: 17px;
    padding: 3px 10px;
    border: none;
    margin-right: 15px;
    border-radius: 10px;
    font-weight: 700;
    color:rgb(95, 95, 95)
}
.right button:hover{
    background-color: black;
    color: white;
}
@media (max-width:1050px) {
    .left {
        width: 400px;
    }

    .right {
        width: 400px;
        height: 200px;
    }

    .right h2 {
        font-size: 25px;
    }
}


@media (max-width:800px) {
    .left {
        width: 350px;
    }

    .right {
        width: 300px;
        height: 150px;
    }

    .right h2 {
        font-size: 20px;
    }

    .right p {
        font-size: 15px;
    }

}

@media (max-width:710px) {

    .left {
        width: 350px;
    }

    .right {
        width: 300px;
        height: 150px;
        border-radius: 20px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .right h2 {
        font-size: 20px;
    }

    .right p {
        font-size: 15px;
    }

    .card_outer {
        flex-direction: column;
    }

}

@media (max-width:500px) {
    .left {
        width: 300px;
    }

    .right {
        position: relative;
        top: -5px;
    }
}

@media (hover: hover) {
  .card_outer:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  }
}
