.section3outer{
    background: linear-gradient(to top right, #0a0a0a 0%, #798888 100%);
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}


.section3outer h1{
    text-align: center;
    font-family: 'Poppins','sans-serif';
    font-weight: 700;
    color: white;
    font-size: 50px;
    padding: 0px 50px;
}
.mybtn{
    background-color: inherit;
    font-size: 25px;
    padding: 10px;
    width: max-content;
    display: block;
    margin: auto;
    border-radius: 20px;
    color: white;
    border: 3px solid white;

}
.mybtn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

